.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
    height: 120px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    width: 300px;
    /* height: 450px; It Will Automatically takes height*/ 
    padding: 5px;
    background-color: #f0f0ff;
    margin:0px 20px 20px 30px;
    border-radius: 10px;
    overflow-wrap: break-word;
}
.res-card:hover{
    border: 1px solid black;
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    
}
.res-card > h3{
    color:red;
}
.res-card  span {
    color:violet;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    margin:0px 20px 0px 30px;
}
/* .filter-btn{
    margin: 20px;
    cursor: pointer;
} */

.res-logo{
    width: 100%; /* Make sure the image does not exceed the container width */
  height: 200px; 
  /* Make sure the image does not exceed the container height  Remove any extra spacing around the image*/

}
.login{
    padding: 0px 10px;
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

/* styling for shimmer UI */
/* --------------------------------------------------------------------------------------------------- */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin:0px 20px 0px 30px;
}
.shimmer-card{
    width: 300px;
    /* height: 450px; It Will Automatically takes height*/ 
    padding: 5px;
    background-color: #f0f0ff;
    margin:0px 20px 20px 30px;
   height: 350px;
    overflow-wrap: break-word;
}

/* ------------------------------------------------------------------------------------------------------------ */
.search-btn{
    margin:20px 0px;
    cursor: pointer;
}
.filter-btn{
    margin: 20px 10px;
}
.search{
    /* margin: 20px; */
}
.filter{
    display: flex;
}